html{
  background-color:green;
}


p{
  color: black;
  font-size:30px;
  
}

/* The sidebar menu */
.sidebar {
height: 100%;
width: 200px; /* Set the width of the sidebar */
position: fixed; /* sets absolute position */
z-index: 1; /* Stay on top of other pages */
top: 0; /* Stay at the top */
left: 0;
background-color: #000000; /* Black */
padding-top: 20px;
}

/* The navigation menu links */
.sidebar a {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}


.sidebar a:hover {
color: #68ff00;
}

/* Style page content */
.main {
margin-left: 160px; /* Same as the width of the sidebar */
padding: 0px 10px;
}

.header_shield_left {
  position: relative;
  right: 300px;
  top: 40px;
  
  
}
.header_shield_right {
  position: relative;
  left: 300px;
  top: 40px;

  
}
